# Node / system files
node_modules/
.DS_Store

# Editor
.vscode/
*.swp

# Build outputs
dist/
build/

# Local dev files
.env

# Misc
sp-index.html
user-docs/

# Images
assets/images/*.psd
assets/images/*.xcf
